<status>
	<account>
		<account-id></account-id>
		<firm></firm>
		<type></type>
		<name></name>
		<description></description>
		<path-to-executable></path-to-executable>
		<url-to-server></url-to-server>
		<base-size></base-size>
		<trade-value></trade-value>
	</account>
	<account>
		<account-id></account-id>
		<firm></firm>
		<type></type>
		<name></name>
		<description></description>
		<path-to-executable></path-to-executable>
		<url-to-server></url-to-server>
		<base-size></base-size>
		<trade-value></trade-value>
	</account>
</status>