<config>
	<account>
		<name></name>
		<description></description>
		<type></type>
		<path-to-executable></path-to-executable>
		<url-to-server></url-to-server>
		<balance></balance>
		<account-id></account-id>
		<trade-value></trade-value>
		<last-access></last-access>
		<last-order></last-order>
		<last-position></last-position>
	</account>
</config>